<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css" ></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header" ></div>
	<div class="mainPart">
		<div class="container-fluid">
			<div class="row" style="margin-top: 10%">
				<div class="col-md-3"></div>
				<div class="col-md-6" style="border: 1px solid; background-color: #ffffff">
					<form role="form" style="padding: 10px">
						<div class="signupTitle">
							<h3 align="center">添加父案件类型</h3>
						</div>
						<div class="form-group">
							<label>输入案件类型</label>
							<input type="text" class="form-control" id="parentType" />
						</div>
						<div class="clear-fix"></div>
						<a type="button" class="btn btn-primary" href="/falltypus/create/sub">创建子案件类型</a>
						<button type="button" id="addParentLevel" class="btn btn-primary">保存案件类型</button>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
		<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">提示信息</h4>
		            </div>
		            <div class="modal-body" id="modalContent"></div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer" ></div>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#addParentLevel").on("click", function() {
			var type = $("#parentType").val()
			
			if($.trim(type) == '') {
				$("#modalContent").empty().append("案件类型不能为空")
				$("#notificationModal").modal("show")
				return false
			}
			
			$.ajax({
				type : 'POST',
				url : '/falltypus',
				data : JSON.stringify({"name": type}),
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$("#modalContent").empty().append("案件类型添加成功")
					$("#notificationModal").modal("show")
				},
				error : function(error) {
					$("#modalContent").empty().append("案件类型添加失败")
					$("#notificationModal").modal("show")
				}
			});
		})
		
		$('#notificationModal').on('hidden.bs.modal', function () {
			$("#parentType").val("")
		})
	});
	</script>
</body>
</html>