<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css" ></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header" ></div>
	<div class="mainPart">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6" style="border: 1px solid black;">
					<form role="form" th:action="@{/falltypus/sub}" th:object="${falltypus}" th:method="POST">
						<div class="row signupTitle">
							<h3>添加问卷</h3>
						</div>
						<div class="form-group">
							<label>Step2: 选择子案件类型</label>
							<select class="form-control" id="selectSub" th:field="*{id}">
								<option th:value="-1">选择案件类型</option>
								<option th:each="subfalltypus : ${subFalltypusList}" th:id="${subfalltypus.id}" th:value="${subfalltypus.id}" th:text="${subfalltypus.name}"></option>
							</select>
						</div>
						<button type="button" id="previousStep" class="btn btn-primary">上一步</button>
						<button type="submit" id="nextStep" class="btn btn-primary">下一步</button>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer" ></div>
	<script type="text/javascript">
	$(function() {
	    $("#previousStep").on("click", () => {
	    	history.go(-1)
	    })
	    
	    $("#selectSub").on("change", () => {
			$.ajax({
				type : 'GET',
				url : '/autosave/' + $("#selectSub option:selected").val(),
				cache : false,
				timeout : 600000,
				success : function(data) {
					console.log(data)
				},
				error : function(error) {
					console.log(error)
				}
			});
		})
	});
	</script>
</body>
</html>
