<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css" ></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header" ></div>
	<div class="mainPart">
		<div class="container">
			<a th:href="@{/falltypus/create/parent}" type="button" class="btn btn-primary btn-lg btn-block">创建案件类型</a>
			<a th:href="@{/falltypus/create/sub}" type="button" class="btn btn-secondary btn-lg btn-block">创建案件子类型</a>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer" ></div>
</body>
</html>