<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container" style="margin-top: 100px">
			<a th:href="@{/admin/falltypus/getLevelOneData}" type="button" class="btn btn-primary btn-lg btn-block">获取一级案件类型</a>
			<a th:href="@{/falltypus/create/parent}" type="button" class="btn btn-primary btn-lg btn-block">创建案件类型</a>
			<a th:href="@{/falltypus/create/sub}" type="button" class="btn btn-primary btn-lg btn-block">创建案件子类型</a>
			<a th:href="@{/disputeInfo/getAllDisputeInfo}" type="button" class="btn btn-primary btn-lg btn-block">获取所有纷争信息</a>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer" ></div>
</body>
</html>