<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>dashboard</title>
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<div th:replace="fragments/header :: header" />
	<div class="container">
		<div class="form-group">
			<label for="exampleInputEmail1">Username</label>
			<input type="email" class="form-control" id="username" name="username" />
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="text" class="form-control" id="password" name="password" />
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Mobile</label>
			<input type="text" class="form-control" id="mobile" name="mobile" />
		</div>
		<div class="form-group">
			<button type="button" id="submit" class="btn btn-primary">Submit</button>
		</div>
		
		<div class="form-group">
			<button type="button" id="questionnaire_01" class="btn btn-primary" bindData="10">Submit</button>
		</div>
		
		<p th:each="falltypus : ${falltypusdata}"
       		th:text="${falltypus.desc}">
        </p>
        
	</div>
	<div th:replace="fragments/footer :: footer" />
	<script type="text/javascript" th:src="@{js/demo.js}"></script>
</body>
</html>