<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div
			class="container d-flex align-items-center justify-content-center" style="height: calc(100% - 163px)">
			<div class="alert alert-danger text-center p-5 mb-0" role="alert">
				<h2>
					<i class="fa fa-meh-o fa-4x" aria-hidden="true"></i>
				</h2>
				<h4 class="">你的session已失效</h4>
				<h6 class="">
					系统将在<span class="session-value">5</span>秒后返回登陆页面
				</h6>
				<h6 class="">
					<a class="alert-link" th:href="@{/user/signIn}">重新登陆</a>
				</h6>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript">
		setInterval(function() {
			window.location.href = "/user/signIn"
		}, 5000);
	</script>
</body>
</html>
