<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/user_center_header :: user-center-header-css" ></div>
    </head>
    <body>
       <div class="img-responsive">
    		<div th:replace="fragments/user_center_header :: user-center-header" ></div>
	        <section class="hero">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
	                        <div class="card border-none">
	                            <div class="card-block">
	                                <div class="mt-2 text-center">
	                                    <h2>用户注册</h2>
	                                </div>
	                                <div class="mt-4">
	                                    <form th:action="@{/user}" method="post">
	                                        <div class="form-group">
	                                            <input type="text" class="form-control" th:name="username" placeholder="输入用户名" />
	                                        </div>
	                                        <div class="form-group">
	                                            <input type="text" class="form-control" th:name="email" placeholder="输入邮箱" />
	                                        </div>
	                                        <div class="form-group">
	                                            <input type="text" class="form-control" th:ame="mobile" placeholder="输入电话号码" />
	                                        </div>
	                                        <div class="form-group">
	                                            <input type="password" class="form-control" th:name="password" value="" placeholder="输入密码" />
	                                        </div>
	                                        <div class="form-group">
	                                            <input type="password" class="form-control" th:name="confirm-password" value="" placeholder="确认密码" />
	                                        </div>
	                                        <div class="form-group">
												<select class="form-control" id="selectRole" style="background-color: black;">
													<option th:selected="true" th:disabled="true" th:value="NOT_SELECTED">选择角色</option>
													<option th:each="role : ${roles}" th:id="${role.id}" th:value="${role.type}" th:text="${role.type}"></option>
												</select>
											</div>
	                                        <button type="submit" class="btn btn-primary btn-block">创建账户</button>
	                                    </form>
	                                    <div class="clearfix"></div>
	                                    <p class="content-divider center mt-4"><span>OR</span></p>
	                                </div>
	                                <p class="text-center">
	                                                                              已经有账号? <a th:href="@{/user/signIn}">点击登录</a>
	                                </p>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="clearfix"></div>
	                    <div class="col-sm-12 mt-5 footer">
	                        <p class="text-white small text-center">
	                            &copy; 2017, shuai.com, Inc. All Rights Reserved. 上海小帅信息科技有限公司 沪ICP备14006851号-2
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </section>
        </div>
        <div th:replace="fragments/public_footer :: public-footer" ></div>
    </body>
</html>