<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart mycasePart">
		<div class="container">
			<div class="containerWapper">
				<h1 class="blue">我的委托案件</h1>
				<section class="col-md-12 col-sm-12 writeInfo space20">
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<div class="ulCell laywer_right">
								<ul class="nav nav-tabs" role="tablist" id="tablist">
									<li role="presentation" th:class="((${session.CASE_DATASET_WITH_FILTER_CONDITION eq null}) or (${session.CASE_DATASET_WITH_FILTER_CONDITION ne null} and ${session.CASE_DATASET_WITH_FILTER_CONDITION.status ne null} and ${session.CASE_DATASET_WITH_FILTER_CONDITION.status[0] eq '0'})) ? 'active' : ''">
										<a th:href="@{/user/dashboard(requestFrom='REQUEST_FROM_LAWYER_USER_CENTER')}" role="tab">待加入委托的案件
											<span>(</span><span class="value" th:text="${totalNonBiddingCases}"></span><span>)</span>
										</a>
									</li>
									<li role="presentation" th:class="((${session.CASE_DATASET_WITH_FILTER_CONDITION ne null} and ${session.CASE_DATASET_WITH_FILTER_CONDITION.status ne null} and ${session.CASE_DATASET_WITH_FILTER_CONDITION.status[0] eq '4'})) ? 'active' : ''">
										<a href="#" role="tab" id="getBiddingCases">已委托的案件
										<span>(</span><span class="value" th:text="${totalBiddingCases}"></span><span>)</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-9 col-sm-9 mybox tab-content">
							<div class="">
								<ul class="writeInfoText ulCell myCell">
									<div class="row">
										<div class="form-group col-md-3 col-sm-3 sLabelOne">
											<label>案件类型:</label>
										</div>
										<div class="scroll-y scroll-y-80">
											<ul class="form-group sLabelOneUl">
												<li id="searchByFalltypus">
													<label th:each="falltypus : ${firstLevelFalltypus}">
														<input type="checkbox" th:id="${falltypus.id}" th:text="${falltypus.name}" />
													</label>
												</li>
												<div class="clearboth"></div>
											</ul>
										</div>
									</div>
									<div class="row"></div>
									<div class="row">
										<label>
											<input type="checkbox" id="viewUnRead" />只看未读的竞标
										</label>
									</div>
									<div class="text-center">
										<button type="button" class="btn btn-law" id="searchCases">查询</button>
									</div>
								</ul>
							</div>
							<div class="tab-pane active" role="tabpanel" id="lawsuitsBlock" th:fragment="lawsuitsBlock-fragment">
								<ul class="writeInfoText ulCell myCell centerLi" th:if="${#lists.isEmpty(pageableData)}">
									<span th:text="没有查询结果"></span>
								</ul>
								<ul class="writeInfoText ulCell myCell centerLi"
									th:each="myBidCase : ${pageableData}"
									th:if="${not #lists.isEmpty(pageableData)}">
									<li class="listTitle">
										<span>案件编号</span>
										<span th:text="${myBidCase.id}"></span>
									</li>
									<li>
										<span>案件类型：</span>
										<span th:text="${myBidCase.parentType}"></span>
									</li>
									<li>
										<span>案件发布时间</span>
										<span th:text="${myBidCase.createAt}"></span>
									</li>
									<li>
										<span>法律意见提交截止时间</span>
										<span th:text="${myBidCase.expiredDate eq null ? 'NA' : myBidCase.expiredDate}"></span>
									</li>
									<li>
										<span>加入投标人数：</span>
										<span th:text="较少"></span>
									</li>
									<div class="row">
										<div class="col-md-12 col-sm-12 btnNext btnSearch laybtnSearch">
											<a type="button" class="btn btn-law btn-lg"
												th:href="@{/user/case/lawyer/lawsuit/viewDetail/{id}(id=${myBidCase.id})}">查看详情</a>
										</div>
									</div>
								</ul>
								<div th:if="${not #lists.isEmpty(pageableData)}" th:include="fragments/page :: paginationbar" th:remove="tag"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			var ids = new Array()
			var viewUnRead = "Y"
			var status5 = new Array()//新建的case
			var status4 = new Array("4")//已加入竞标的案件

			var searchCondition = /*[[${session.CASE_DATASET_WITH_FILTER_CONDITION}]]*/null;

			console.log(/*[[${session.CASE_DATASET_WITH_FILTER_CONDITION}]]*/)
			if (searchCondition === null) {
				status5 = []
				status5.push("0")
			} else {
				status5 = []
				status5.push(searchCondition.status)
			}

			$("#tablist").on("click", "a", function(e) {
				$(this).parent().parent().find("li").removeClass("active")
				$(this).parent().addClass("active")
			})
			$("#viewUnRead").on("click", function() {
				if ($(this).is(":checked")) {
					viewUnRead = "N"
				} else {
					viewUnRead = "Y"
				}
			})

			$("#getBiddingCases").on("click",function(e) {
				e.preventDefault()
				$.ajax({
					type : 'GET',
					url : "/user/case?caseType=1&feedbackCount=10&status="
							+ status4
							+ "&searchFrom=SEARCH_FROM_LAWYER_DASHBOARD&fromNav=LAWYER_JOINED_BIDDING_CASES&requestFrom="
							+ location.pathname,
					success : function(data) {
						console.log(data)
						$('#lawsuitsBlock').html(data);
					},
					error : function(error) {
						console.log(error)
					}
				});
			})
			$("#searchByFalltypus").on('click', 'input', function() {
				if ($(this).is(':checked')) {
					ids.push($(this).attr("id"))
				} else {
					var i = ids.indexOf($(this).attr("id"));
					if (i != -1) {
						ids.splice(i, 1);
					}
				}
			})
			$("#searchCases").on("click",function() {
				$.ajax({
					type : 'GET',
					url : "/user/case?parentType="
							+ ids
							+ "&caseType=1&feedbackCount=10&status="
							+ status5
							+ "&"
							+ (viewUnRead == 'N' ? "isRead=N"
									: "")
							+ "&searchFrom=SEARCH_FROM_LAWYER_DASHBOARD&requestFrom="
							+ location.pathname,
					success : function(data) {
						console.log(data)
						$('#lawsuitsBlock').html(data);
					},
					error : function(error) {
						console.log(error)
					}
				});
			})
		})
		/*]]>*/
	</script>
</body>
</html>