<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart mycasePart">
		<div class="container">
			<div class="containerWapper">
				<ol class="breadcrumb">
					<li><a href="#">待加入竞标</a></li>
					<li class="active">
						<span>案件</span>
						<span th:text="${caseDetailInfo.id}"></span>
					</li>
				</ol>
				<h1 class="blue">
					<span>案件</span>
					<span th:text="${caseDetailInfo.id}"></span>
				</h1>
				<section class="col-md-12 col-sm-12 writeInfo space20">
					<div class="row">
						<div class="col-md-12 mybox">
							<ul class="writeInfoText ulCell myCell">
								<div class="row">
									<table class="table tableBox">
										<tbody>
											<tr class="listTitle">
												<td colspan="2">
													<span>案件编号</span>
													<span th:text="${caseDetailInfo.id}"></span>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<span>竞标发布时间: </span>
													<span th:text="${caseDetailInfo.createAt}"></span>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<span>法律意见提交截止时间：</span>
													<span th:text="${caseDetailInfo.expiredDate eq null ? 'NA' : caseDetailInfo.expiredDate}"></span>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<span>加入竞标人数： </span>
													<span th:text="较少"></span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell">
								<div class="row">
									<table class="table tableBox">
										<tbody>
											<tr>
												<td>案件类型： 劳动纠纷
													<span>案件类型： </span>
													<span th:text="${caseDetailInfo.parentType}"></span>
												</td>
												<td>
													<span>案件阶段： </span>
													<span th:text="尚未有判决或裁决"></span>
												</td>
											</tr>
											<tr>
												<td>
													<span>当事人角色：  </span>
													<span th:text="原告"></span>
												</td>
												<td>
													<span>对法院判决态度： </span>
													<span th:text="'-'"></span>
												</td>
											</tr>
											<tr>
												<td>
													<span>您是代表谁找律师: </span>
													<span th:text="本人"></span>
												</td>
												<td>
													<span>起诉地点：</span>
													 <span th:text="${caseDetailInfo.location}"></span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell caseBox">
								<div class="row">
									<h4>案件事实</h4>
								</div>
								<div class="row" th:if="${#lists.isEmpty(caseDetailInfo.qaMapping)}">
									<ul>
										<li><span th:text="暂无信息"></span></li>
									</ul>
								</div>
								<div class="row" 
									th:if="${not #lists.isEmpty(caseDetailInfo.qaMapping)}"
									th:each="qa : ${caseDetailInfo.qaMapping}">
									<ul>
										<li th:if="${qa.answers eq null}">
					                		<span>问题:</span><span th:text="${qa.questionDesc}"></span>
					                		<br />
					                		<span>答案:</span><span th:text="${qa.answerDesc}"></span>
					                	</li>
					                	<li th:if="${qa.answers ne null}">
					                		<span>问题:</span><span th:text="${qa.questionDesc}"></span>
					                		<br />
					                		<span th:each="multiQA,iterState : ${qa.answers}">
					                			<span th:text="'答案' + ${iterState.count} + ':'"></span><span th:text="${multiQA.description}"></span><br />
					                		</span>
					                	</li>
									</ul>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell caseBox">
								<div class="row">
									<h4>当事人的期望与理由</h4>
								</div>
								<div class="row">
									<ul>
										<li>
											<span th:text="${caseDetailInfo.comments eq '' ? '暂无信息' : caseDetailInfo.comments}"></span>
										</li>
									</ul>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell caseBox">
								<div class="row">
									<h4>证据材料</h4>
								</div>
								<div class="row" th:if="${#lists.isEmpty(caseDetailInfo.qaMapping)}">
									<ul>
										<li><span th:text="暂无信息"></span></li>
									</ul>
								</div>
								<div class="row" 
									th:if="${#lists.isEmpty(caseDetailInfo.qaMapping)}"
									th:each="qaMapping : ${caseDetailInfo.qaMapping}">
									<ul>
										<li>问题：<span th:text="${qaMapping.questionDesc}"></span></li>
										<li>问题：<span th:text="${qaMapping.answerDesc}"></span></li>
									</ul>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell caseBox">
								<div class="row">
									<h4>当事人的追问信息:</h4>
								</div>
								<div class="row" th:if="${#lists.isEmpty(caseDetailInfo.detailedInquiries)}">
									<ul>
										<li>
											<span th:text="暂无信息"></span>
										</li>
									</ul>
								</div>
								<div class="row"
									th:if="${not #lists.isEmpty(caseDetailInfo.detailedInquiries)}" 
									th:each="inquiry,iterState : ${caseDetailInfo.detailedInquiries}" >
									<ul>
										<li>
											<span th:text="'第'+ ${iterState.count} + '次追问: '"></span>
											<span th:text="${inquiry}"></span>
										</li>
									</ul>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell caseBox">
								<div class="row">
									<h4>我的反馈:</h4>
								</div>
								<div class="row" th:if="${#lists.isEmpty(caseDetailInfo.caseFeedbackInfo)}">
									<ul>
										<li>
											<span th:text="暂无反馈信息"></span>
										</li>
									</ul>
								</div>
								<div class="row"
									th:if="${not #lists.isEmpty(caseDetailInfo.caseFeedbackInfo)}" 
									th:each="feedbackInfo : ${caseDetailInfo.caseFeedbackInfo}" >
									<ul>
										<li>
											<span th:text="我的报价： "></span>
											<span th:text="${feedbackInfo.counselFee}"></span>
										</li>
										<li>
											<span th:text="我的反馈信息： "></span>
											<span th:text="${feedbackInfo.lawyerComments}"></span>
										</li>
									</ul>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell caseBox">
								<div class="row">
									<h4>已采取的行动与结果</h4>
								</div>
								<div class="row">
									<ul>
										<li>
											<span th:text="无"></span>
										</li>
									</ul>
								</div>
							</ul>
							<ul class="lawyer2button">
								<div class="row">
									<div class="col-md-12 col-sm-12 btnNext btnSearch caseTwoBtn">
										<button 
											type="button" class="btn btn-law btn-lg"
											th:attr="disabled=${caseDetailInfo.disableFeedback} ? 'disabled' : 'false'"
											data-target="#addFeedbackModal" data-toggle="modal">加入竞标</button>
									</div>
								</div>
							</ul>

						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="addFeedbackModal" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myLargeModalLabel">加入竞标</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="usr">报价:</label>
								<input type="text" class="form-control" id="counselFee" />
						</div>
						<div class="form-group">
							<label for="pwd">意见或建议:</label>
							<textarea class="form-control" id="lawyerComments"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-law" id="addFeedback">保存</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title">提示信息</h4>
	            </div>
	            <div class="modal-body" id="modalContent"></div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	            </div>
	        </div>
	    </div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$("#addFeedback").on("click", function() {
				$.ajax({
					type : 'PUT',
					url : '/user/case/update/' + [[${caseDetailInfo.id}]],
					data : JSON.stringify({
						"status": "4",
						"counselFee": $("#counselFee").val(),
						"lawyerComments": $("#lawyerComments").val()
					}),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						$("#addFeedbackModal").modal('hide');
						$("#lawyerComments").val('')
						$("#modalContent").empty().append("反馈信息添加成功")
						$("#notificationModal").modal("show")
					},
					error : function(error) {
						$("#addFeedbackModal").modal('hide');
						$("#lawyerComments").val('')
						$("#modalContent").empty().append("反馈信息添加失败")
						$("#notificationModal").modal("show")
					}
				});
			})
			
			$("#notificationModal").on("hidden.bs.modal", function() {
				window.location.assign(location.href);
			})
		})
		/*]]>*/
	</script>
</body>
</html>