<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/lawyer_header :: lawyer-header-css"></div>
</head>
<body>
	<div th:replace="fragments/lawyer_header :: lawyer-header"></div>
	<div class="mainPart mycasePart">
		<div class="container">
			<div class="containerWapper">
				<h1 class="blue">我的竞标案件</h1>
				<p>正在进行的案件竞标赢积分榜单周期</p>
				<section class="col-md-12 col-sm-12 writeInfo space20">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="ulCell laywer_right">
								<ul>
									<li class="cur">待加入的竞标</li>
									<li><a href="#">进行中的竞标</a></li>
									<li><a href="#">评审中的竞标</a></li>
									<li><a href="#">已评审的竞标</a></li>
									<li><a href="#">可申请复核的竞标</a></li>
									<li class="lastItem"><a href="#">已复核的竞标</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 mybox">
							<ul class="writeInfoText ulCell myCell">
								<li>当前已加入竞标
									<h4>1个</h4>
								</li>
							</ul>
							<ul class="writeInfoText ulCell myCell">
								<div class="row">
									<div class="form-group col-md-3 col-sm-3 sLabelOne">
										<label>业务领域:</label>
									</div>
									<ul class="form-group col-md-9 col-sm-8 sLabelOneUl">
										<li>
											<label>
												<input type="checkbox" checked="checked" /> 房产土地
											</label>
											<label>
												<input type="checkbox" checked="" /> 劳动纠纷
											</label>
											<label>
												<input type="checkbox" checked="" /> 婚姻家庭
											</label>
										</li>
										<div class="clearboth"></div>
									</ul>
								</div>
								<div class="row">
									<label><input type="checkbox" /> 只看未读的竞标</label>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12 btnNext btnSearch mycasebtnSearch">
										<button type="button" class="btn btn-primary btn-lg">查询</button>
									</div>
								</div>
							</ul>
							<ul class="writeInfoText ulCell myCell centerLi" th:each="myBidCase : ${myBidCases}">
								<li class="listTitle">案件类型 : <b th:text="${myBidCase.parentType}"></b> 
									<span>案件编号 : <span th:text="${myBidCase.id}"></span></span>
								</li>
								<li><a href="">赢积分 : </a> <span class="orange">20</span></li>
								<li>竞标发布时间 : <span th:text="${myBidCase.createAt}"></span></li>
								<li>法律意见提交截止时间： 2017.11.09 10:25</li>
								<li>加入竞标人数： 较少</li>
								<div class="row">
									<div class="col-md-12 col-sm-12 btnNext btnSearch laybtnSearch">
										<a th:href="@{/user/case/lawyer/lawsuit/viewDetail/{id}(id=${myBidCase.id})}" type="button" class="btn btn-primary btn-lg">查看详情</a>
									</div>
								</div>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer"></div>
</body>
</html>