<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/public_header :: public-header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/public_header :: public-header"></div>
	</div>
	<div class="mainPart mycasePart">
		<div class="container">
			<div class="containerWapper">
				<h1 class="blue">咨询池</h1>
				<p class="orange">这里呈现的是您的法律意见已通过评审、但客户尚未委托的案件。</p>
				<section class="col-md-12 col-sm-12 writeInfo space20">
					<div class="row">
						<div class="col-md-12 col-sm-12 mybox">
							<ul class="writeInfoText ulCell myCell">
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-2 col-sm-3 sLabel mycaseLabel">
												<label>案件编号：</label>
											</div>
											<div class="col-md-10 col-sm-10">
												<input type="text" class="form-control" placeholder="输入案件编号" />
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="form-group col-md-2 col-sm-2 sLabel mycaseLabel">
												<label>最近：</label>
											</div>
											<div class="form-group col-md-7 col-sm-7">
												<select class="form-control">
													<option value="">1</option>
													<option value="">2</option>
													<option value="">3</option>
													<option value="">6</option>
												</select>
											</div>
											<div class="form-group col-md-3 col-sm-3 sLabel">
												<label>月有最新反馈</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row mycaseCheckBox">
									<label>
										<input type="checkbox" id="viewUnRead" />只看未读的竞标
									</label>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12 btnNext btnSearch mycasebtnSearch">
										<button type="button" class="btn btn-law btn-lg" id="searchConsultingWithFilter">查询</button>
									</div>
								</div>
							</ul>
							<div id="consultingBlock" th:fragment="consultingBlock-fragment">
								<a  th:if="${not #lists.isEmpty(pageableData)}"
									th:each="freeConsulting : ${pageableData}"
									th:href="@{/user/case/lawyer/consulting/viewDetail/{id}(id=${freeConsulting.id})}">
									<ul class="writeInfoText ulCell myCell mb-2">
										<li>
											<span>案件编号 :</span>
											<span th:text="${freeConsulting.id}"></span>
										</li>
										<li>
											<span>起诉地点 :</span>
											<span th:text="${freeConsulting.location}"></span>
										</li>
										<li>
											<span>案件提交时间 :</span>
											<span th:text="${freeConsulting.createAt}"></span>
										</li>
										<li>
											<span>案件类型 :</span>
											<span th:text="${freeConsulting.falltypusType}"></span>
										</li>
									</ul>
								</a>
								<ul th:if="${#lists.isEmpty(pageableData)}" class="writeInfoText ulCell myCell">未找到相关记录</ul>
								<div th:if="${not #lists.isEmpty(pageableData)}" th:include="fragments/page :: paginationbar" th:remove="tag"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			var ids = new Array()
			var viewUnRead = "Y"

			$("#viewUnRead").on("click", function() {
				if ($(this).is(":checked")) {
					viewUnRead = "N"
				} else {
					viewUnRead = "Y"
				}
			})

			$("#searchConsultingWithFilter").on("click", function() {
				$.ajax({
					type : 'GET',
					url : "/user/case?caseType=0&" + (viewUnRead == 'N' ? "isRead=N" : "isRead=Y")
							+ "&searchFrom=SEARCH_FROM_LAWYER_CASEPOOL&requestFrom=" + location.pathname,
					success : function(data) {
						console.log(data)
						$('#consultingBlock').html(data);
					},
					error : function(error) {
						console.log(error)
					}
				});
			})
		})
		/*]]>*/
	</script>
</body>
</html>