<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css" ></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header" ></div>
	<div class="mainPart">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="my.html">个人中心</a></li>
				<li class="active">我的竞标案件</li>
			</ol>
			<h1 class="blue">我的诉讼案件 (2)</h1>
			<section class="col-md-12 col-sm-12 writeInfo space20">
				<div class="row">
					<div class="col-md-8 col-sm-8 mybox">
						<ul class="writeInfoText ulCell myCell" th:each="myLawsuit : ${myLawsuit}">
							<li>起诉地点 : 南京</li>
							<li>案件类型 : <span th:text="${myLawsuit.falltypusType}"></span></li>
							<li class="gray">
								<span>案件编号 : <span th:text="${myLawsuit.id}"></span></span><br />
								<span>案件提交时间: <span th:text="${myLawsuit.createAt}"></span></span>
							</li>
							<br />
							<a th:href="@{/user/case/litigant/lawsuit/viewDetail/{id}(id=${myLawsuit.id})}">查看详情</a>
						</ul> 
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="writeInfoRight ulCell">
							<ul class="writeInfoRightTitle">
								<li>电话咨询</li>
							</ul>
							<div class="phoneIcon"></div>
							<ul class="writeInfoRightItem">
								<li>立即响应</li>
								<li>专业</li>
								<li>高性价比</li>
								<li>服务细节到位</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer" ></div>
</body>
</html>