<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container">
			<div class="containerWapper">
				<ol class="breadcrumb">
					<li><a href="my.html">个人中心</a></li>
					<li class="active">我的竞标案件</li>
				</ol>
				<h1 class="blue">诉讼案件详情</h1>
				<section class="col-md-12 col-sm-12 writeInfo space20">
					<div class="row">
						<div class="col-md-10 col-sm-10 mybox">
							<ul class="writeInfoText ulCell myCell mb-2">
								<div id="accordion">
									<div class="card">
										<div class="card-header">
											<a class="card-link" data-toggle="collapse"
												data-parent="#accordion" href="#collapseBasicInfo"> 案件详情
											</a>
										</div>
										<div id="collapseBasicInfo" class="collapse">
											<div class="card-body">
												<div class="layer-feedback">
													<ul class="writeInfoText ulCell myCell mb-2">
														<li>
															<span>案件类型</span>
															<span th:text="${caseDetailInfo.falltypusType}"></span>
														</li>
														<li>
															<span>案发地点</span>
															<span th:text="${caseDetailInfo.location eq 'null' ? '无' : caseDetailInfo.location}"></span>
														</li>
														<li>
															<span>提交日期</span>
															<span th:text="${caseDetailInfo.createAt}"></span>
														</li>
													</ul>
													<ul class="writeInfoText ulCell myCell mb-2">
														<div class="row">
															<div class="col-sm-12">
																<h6>附加信息</h6>
																<span th:text="${caseDetailInfo.comments}"></span>
															</div>
														</div>
													</ul>
													<ul class="writeInfoText ulCell myCell mb-2">
														<div class="row">
															<div class="col-sm-12">
																	<h6>案件明细</h6>
																	<ul class="writeInfoText ulCell myCell mb-2" th:each="qa : ${caseDetailInfo.qaMapping}">
														                <li>问题: <span th:text="${qa.questionDesc}"></span></li>
																		<li>答案: <span th:text="${qa.answerDesc}"></span></li>
														            </ul>
															</div>
														</div>
													</ul>
													<ul class="writeInfoText ulCell myCell mb-2">
														<div class="row">
															<div class="col-sm-12">
																<h6>追问详情</h6>
																<span th:if="${#lists.isEmpty(caseDetailInfo.detailedInquiries)}">您对此案件还没有追问信息</span>
																<ul th:if="${not #lists.isEmpty(caseDetailInfo.detailedInquiries)}"
																	th:each="inquiry,iterState : ${caseDetailInfo.detailedInquiries}">
																	<li>
																		<span th:text="'第'+ ${iterState.count} + '次追问: '"></span>
																		<span th:text="${inquiry}"></span>
																	</li>
																</ul>
															</div>
														</div>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header">
											<a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseLawyerFeedback">律师反馈 </a>
										</div>
										<div id="collapseLawyerFeedback" class="collapse">
											<div class="card-body">
												<div class="layer-feedback" id="lawyerFeedbacks">
													<ul class="writeInfoText ulCell myCell mb-2"
														th:if="${#lists.isEmpty(caseDetailInfo.caseFeedbackInfo)}">
														<div class="row">
															<div class="col-sm-12">
																<span class="orange">律师正在查看中，预计在24小时内为您提供解答。</span>
															</div>
														</div>
													</ul>
													<ul class="writeInfoText ulCell myCell mb-2"
														th:if="${not #lists.isEmpty(caseDetailInfo.caseFeedbackInfo)}"
														th:each="feedbackInfo, iterationStatus : ${caseDetailInfo.caseFeedbackInfo}">
														<div class="row">
															<div class="col-sm-2">
																<span th:text="${feedbackInfo.lawyerName + '律师'}"></span>
																<p>
																	<i class="fa fa-user-o" aria-hidden="true"></i>
																</p>
															</div>
															<div class="col-sm-8">
																<ul>
																	<li>
																		<span>报价:</span> 
																		<span th:text="${feedbackInfo.counselFee}"></span>
																	</li>
																	<li>
																		<span>意见/建议:</span> 
																		<span th:text="${feedbackInfo.lawyerComments}"></span>
																	</li>
																	<li>
																		<span>回复日期</span> 
																		<span th:text="2018-1-12"></span>
																	</li>
																</ul>
															</div>
															<div class="col-sm-2">
																<button type="button" class="btn btn-law pull-right"
																	th:attr="disabled=(${caseDetailInfo.status eq '5'} or ${caseDetailInfo.acceptedLawyerFeedback ne null}) ? 'disabled' : 'false'"
																	th:id="${feedbackInfo.id}">采纳</button>
															</div>
														</div>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row mybox">
									<div class="col-md-12 btnSearch solutionTwoBtn">
										<button
											th:attr="disabled=(${#lists.size(caseDetailInfo.detailedInquiries) eq 3} or ${caseDetailInfo.status eq '5'}) ? 'disabled' : 'false'"
											type="button" class="btn btn-law btn-lg"
											data-toggle="modal" data-target="#addDetailedInquiry">追问</button>
										&nbsp;&nbsp;
										<button th:attr="disabled=${caseDetailInfo.status eq '5'} ? 'disabled' : 'false'"
											    type="button" class="btn btn-law btn-lg" 
											    id="resolveDispute">解决纠纷</button>
									</div>
								</div>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2">
							<div class="writeInfoRight ulCell">
								<ul class="writeInfoRightTitle">
									<li>电话咨询</li>
								</ul>
								<ul class="writeInfoRightItem">
									<li>立即响应</li>
									<li>专业</li>
									<li>高性价比</li>
									<li>服务细节到位</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" id="addDetailedInquiry" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">追问</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="usr"></label>
							<textarea class="form-control" id="detailedInquiryContent"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-law" id="saveDetailedInquiry">保存</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="notificationModal" tabindex="-1"
		role="dialog" aria-labelledby="notificationModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">提示信息</h4>
				</div>
				<div class="modal-body" id="modalContent"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$("#lawyerFeedbacks").on("click", "button", function() {
				console.log($(this).attr("id"))
				$.ajax({
					type : 'PUT',
					url : '/user/case/update/' + [[${caseDetailInfo.id}]],
					data : JSON.stringify({
						"acceptedLawyerFeedback": $(this).attr("id")
					}),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						$("#modalContent").empty().append("更新成功")
						$("#notificationModal").modal("show")
					},
					error : function(error) {
						$("#modalContent").empty().append("更新失败")
						$("#notificationModal").modal("show")
					}
				});
			})
			$("#resolveDispute").on("click", function() {
				$.ajax({
					type : 'PUT',
					url : '/user/case/update/' + [[${caseDetailInfo.id}]],
					data : JSON.stringify({
						"status": "5"
					}),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						$("#modalContent").empty().append("更新成功")
						$("#notificationModal").modal("show")
					},
					error : function(error) {
						$("#modalContent").empty().append("更新失败")
						$("#notificationModal").modal("show")
					}
				});
			})
			
			$("#saveDetailedInquiry").on("click", function() {
				$.ajax({
					type : 'PUT',
					url : '/user/case/addDetailedInquiry/' + [[${caseDetailInfo.id}]],
					data : JSON.stringify({"detailedInquirys": $("#detailedInquiryContent").val()}),
					contentType : "application/json; charset=utf-8",
					success : function(res) {
						$("#addDetailedInquiry").modal("hide")
						$("#detailedInquiryContent").val("")
						if (res.data == 0) {
							$("#modalContent").empty().append("追问信息添加成功")
						} else if (res.data == -1) {
							$("#modalContent").empty().append("追问次数已经达到最大，不能再添加追问信息")
						}
						
						$("#notificationModal").modal("show")
					},
					error : function(error) {
						$("#addDetailedInquiry").modal("hide")
						$("#detailedInquiryContent").val("")
						$("#modalContent").empty().append("追问信息添加失败")
						$("#notificationModal").modal("show")
					}
				});
			})
			
			$('#notificationModal').on('hidden.bs.modal', function () {
				window.location.assign(location.href);
			})
		})
		/*]]>*/
	</script>
</body>
</html>