<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container">
			<div class="containerWapper">
				<ol class="breadcrumb">
					<li><a href="#">个人中心</a></li>
					<li><a href="#">我的免费咨询</a></li>
					<li class="active">问题详情</li>
				</ol>
				<h1 class="blue">我的问题</h1>
				<section class="col-md-12 col-sm-12 writeInfo space20">
					<div class="row">
						<div class="col-md-10 col-sm-10">
							<ul class="writeInfoText ulCell myCell">
								<li class="orange" th:if="${#lists.isEmpty(caseDetailInfo.caseFeedbackInfo)}">律师正在查看中，预计在24小时内为您提供解答。</li>
								<li th:if="${not #lists.isEmpty(caseDetailInfo.caseFeedbackInfo)}">
									<h5>法律分析</h5>
									<ul class="writeInfoText ulCell myCell mb-2" th:each="feedbackInfo : ${caseDetailInfo.caseFeedbackInfo}">
										<li><b>律师： <span th:text="${feedbackInfo.lawyerName}"></span></b></li>
										<li><b>报价： <span th:text="${feedbackInfo.counselFee}"></span></b></li>
										<li><b>意见或建议： <span th:text="${feedbackInfo.lawyerComments}"></span></b></li>
									</ul>
								</li>
								<li class="line"></li>
								<li>
									<h6>案件明细</h6>
									<span th:if="${#lists.isEmpty(caseDetailInfo.qaMapping)}">无</span>
									<ul th:each="qa : ${caseDetailInfo.qaMapping}">
										<li>
											<span>问题: </span>
											<span th:text="${qa.questionDesc}"></span>
										</li>
										<li>
											<span>答案: </span>
											<span th:text="${qa.answerDesc}"></span>
										</li>
										<li class="line"></li>
									</ul>
								</li>
								<li class="line"></li>
								<li>
									<h6>追问明细</h6>
									<span th:if="${#lists.isEmpty(caseDetailInfo.detailedInquiries)}">您对此案件还没有追问信息</span>
									<ul th:if="${not #lists.isEmpty(caseDetailInfo.detailedInquiries)}"
										th:each="inquiry,iterState : ${caseDetailInfo.detailedInquiries}">
										<li>
											<span th:text="'第'+ ${iterState.count} + '次追问: '"></span>
											<span th:text="${inquiry[0]}"></span>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<span th:text="'律师回复:'"></span>
											<span th:text="${inquiry[1] eq null ? '暂无回复' : inquiry[1]}"></span>
										</li>
									</ul>
								</li>
								<li class="line"></li>
								<li>
									<h6>附加信息</h6>
									<span th:text="${caseDetailInfo.comments}"></span>
								</li>
								<li class="line"></li>
								<div class="row mybox">
									<div class="col-md-12 btnSearch solutionTwoBtn">
										<button th:attr="disabled=(${#lists.size(caseDetailInfo.detailedInquiries) eq 3} or ${caseDetailInfo.status eq '5'}) ? 'disabled' : 'false'"
												type="button" class="btn btn-law btn-lg"
												data-target="#addDetailedInquiry" data-toggle="modal">追问</button>
										&nbsp;&nbsp;
										<button th:attr="disabled=${caseDetailInfo.status eq '5'} ? 'disabled' : 'false'"
											    type="button" class="btn btn-law btn-lg" id="resolveDispute">解决纠纷</button>
									</div>
								</div>
							</ul>
						</div>
						<div class="col-md-2 col-sm-2">
							<div class="writeInfoRight ulCell">
								<ul class="writeInfoRightTitle">
									<li>电话咨询</li>
								</ul>
								<ul class="writeInfoRightItem">
									<li>立即响应</li>
									<li>专业</li>
									<li>高性价比</li>
									<li>服务细节到位</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" id="addDetailedInquiry" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">追问</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="usr"></label>
							<textarea class="form-control" id="detailedInquiryContent"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-law" id="saveDetailedInquiry">保存</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" tabindex="-1"
		id="notificationModal" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">提示信息</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body" id="modalContent"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			$("#resolveDispute").on("click", function() {
				$.ajax({
					type : 'PUT',
					url : '/user/case/update/' + [[${caseDetailInfo.id}]],
					data : JSON.stringify({
						"status": "5"
					}),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						$("#modalContent").empty().append("当前案件已标记为结束")
						$("#notificationModal").modal("show")
					},
					error : function(error) {
						$("#modalContent").empty().append("更新失败")
						$("#notificationModal").modal("show")
					}
				});
			})
			
			$("#saveDetailedInquiry").on("click", function() {
				$.ajax({
					type : 'PUT',
					url : '/user/case/addDetailedInquiry/' + [[${caseDetailInfo.id}]],
					data : JSON.stringify({"detailedInquirys": $("#detailedInquiryContent").val()}),
					contentType : "application/json; charset=utf-8",
					success : function(res) {
						$("#addDetailedInquiry").modal("hide")
						$("#detailedInquiryContent").val("")
						if (res.data == 0) {
							$("#modalContent").empty().append("追问信息添加成功")
						} else if (res.data == -1) {
							$("#modalContent").empty().append("追问次数已经达到最大，不能再添加追问信息")
						}
						
						$("#notificationModal").modal("show")
					},
					error : function(error) {
						$("#addDetailedInquiry").modal("hide")
						$("#detailedInquiryContent").val("")
						$("#modalContent").empty().append("追问信息添加失败")
						$("#notificationModal").modal("show")
					}
				});
			})
			
			$('#notificationModal').on('hidden.bs.modal', function () {
				window.location.assign(location.href);
			})
		})
		/*]]>*/
	</script>
</body>
</html>