<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css" ></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header" ></div>
	<div class="mainPart">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="my.html">个人中心</a></li>
				<li class="active">我的竞标案件</li>
			</ol>
			<h1 class="blue">我的诉讼案件 (2)</h1>
			<section class="col-md-12 col-sm-12 writeInfo space20">
				<div class="row">
					<div class="col-md-8 col-sm-8 mybox">
						<a href="">
							<ul class="writeInfoText ulCell myCell">
								<li>起诉地点 : 南京</li>
								<li>案件类型 : 劳动纠纷</li>
								<li class="gray">
									<span>案件编号 : 43828</span>
									<span>案件提交时间: 2017.11.06 10:01</span>
								</li>
							</ul> 
						</a> 
						<a href="">
							<ul class="writeInfoText ulCell myCell">
								<li>起诉地点 : 南京</li>
								<li>案件类型 : 劳动纠纷</li>
								<li class="gray">
									<span>案件编号 : 43826</span>
									<span>案件提交时间: 2017.11.06 10:01</span>
								</li>
							</ul>
						</a>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="writeInfoRight ulCell">
							<ul class="writeInfoRightTitle">
								<li>电话咨询</li>
							</ul>
							<div class="phoneIcon"></div>
							<ul class="writeInfoRightItem">
								<li>立即响应</li>
								<li>专业</li>
								<li>高性价比</li>
								<li>服务细节到位</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/litigant_footer :: litigant-footer" ></div>
</body>
</html>