<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css" ></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header" ></div>
	<div class="mainPart">
		<div class="container">
			<ol class="breadcrumb">
				<li>
					<a href="my.html">个人中心</a>
				</li>
				<li class="active">我的电话咨询</li>
			</ol>
			<h1 class="blue">我的电话咨询</h1>
			<section class="col-md-12 col-sm-12 writeInfo space20">
				<div class="row">
					<div class="col-md-8 col-sm-8">
						<ul class="writeInfoText ulCell">
							<li class="orange">您暂时没有电话咨询</li>
						</ul>
						<div class="row">
							<div class="col-md-12 col-sm-12 btnNext">
								<button type="button" class="btn btn-primary btn-lg">立即提交</button>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="writeInfoRight ulCell">
							<ul class="writeInfoRightTitle">
								<li>电话咨询</li>
							</ul>
							<div class="phoneIcon"></div>
							<ul class="writeInfoRightItem">
								<li>立即响应</li>
								<li>专业</li>
								<li>高性价比</li>
								<li>服务细节到位</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/litigant_footer :: litigant-footer" ></div>
</body>
</html>