<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container">
			<div class="containerWapper">
				<ol class="breadcrumb">
					<li><a href="my.html">个人中心</a></li>
					<li class="active">我的电话咨询</li>
				</ol>
				<h1 class="blue">我的电话咨询</h1>
				<section class="col-md-12 col-sm-12 writeInfo space20">
					<div class="row">
						<div class="col-md-10 col-sm-10">
							<ul class="writeInfoText ulCell" th:if="${#lists.isEmpty(pageableData)}">
								<li class="orange">您暂时没有电话咨询</li>
							</ul>
							<div class="row mt-3" th:if="${#lists.isEmpty(pageableData)}">
								<div class="col-md-12 col-sm-12 btnNext">
									<button type="button" class="btn btn-law btn-lg" data-target="#buyConsulting" data-toggle="modal">立即提交</button>
								</div>
							</div>
							<ul class="writeInfoText ulCell myCell mb-2"
								th:if="${not #lists.isEmpty(pageableData)}"
								th:each="phoneConsulting : ${pageableData}">
								<li>
									<span>电话号码:</span>
									<span th:text="${phoneConsulting.contactPhone}"></span></li>
								<li>
									<span>提交时间:</span>
									<span class="gray" th:text="${phoneConsulting.researvationDatetime}"></span>
								</li>
							</ul>
							<div th:if="${not #lists.isEmpty(pageableData)}" th:include="fragments/page :: paginationbar" th:remove="tag"></div>
						</div>
						<div class="col-md-2 col-sm-2">
							<div class="writeInfoRight ulCell">
								<ul class="writeInfoRightTitle">
									<li>电话咨询</li>
								</ul>
								<ul class="writeInfoRightItem">
									<li>立即响应</li>
									<li>专业</li>
									<li>高性价比</li>
									<li>服务细节到位</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" id="buyConsulting" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myLargeModalLabel">提交电话咨询</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="usr">电话:</label>
							<input type="text" class="form-control" id="contactPhone" />
						</div>
						<div class="form-group">
							<label for="pwd">预约日期:</label>
							<input type="date" class="form-control" id="researvationDatetime" />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-law" id="savePhoneConsulting">保存</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">提示信息</h4>
				</div>
				<div class="modal-body" id="modalContent"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#savePhoneConsulting").on("click", function() {
				$.ajax({
					type : 'POST',
					url : '/public/case/reservation',
					data : JSON.stringify({
						"contactPhone" : $("#contactPhone").val(),
						"researvationDatetime": $("#researvationDatetime").val()
					}),
					contentType : "application/json; charset=utf-8",
					success : function(data) {
						$("#modalContent").empty().append("电话咨询提交成功")
						$("#contactPhone").val('');
						$("#buyConsulting").modal('hide');
						$("#notificationModal").modal("show")
					},
					error : function(error) {
						$("#modalContent").empty().append("电话咨询提交失败")
						$("#notificationModal").modal("show")
					}
				});
			})

			$('#notificationModal').on('hidden.bs.modal', function() {
				window.location.assign(location.href);
			})
		})
	</script>
</body>
</html>