<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container">
			<div class="containerWapper">
				<ol class="breadcrumb">
					<li><a href="#">免费法律咨询</a></li>
					<li class="active">选择类型</li>
				</ol>
				<h1 class="blue step1">请选择下一级咨询类型</h1>
				<section class="col-md-12 col-sm-12 introcouPhone marginTop30">
					<div class="row">
						<ul class="col-md-6 col-sm-12" th:each="subFalltypus : ${subFalltypusList}">
							<li class="introcoupCell btnSquare cat-big">
								<a
									th:href="@{/public/falltypus/level2/consulting/{id}(id=${subFalltypus.id})}"
									th:id="${subFalltypus.id}" th:text="${subFalltypus.name}">
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>