<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/public_header :: public-header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/public_header :: public-header"></div>
	</div>
	<div class="mainPart">
		<div class="container">
			<div class="containerWapper">
				<h1>提交您的案情 - 选择类型</h1>
				<p>
					不知道如何填写？拨打客服热线 <span class="orange">400-850-8650</span> 获得帮助
				</p>
				<section class="col-md-12 col-sm-12 introcouPhone marginTop30">
					<div class="row">
						<ul class="col-md-4 col-sm-6"
							th:each="falltypus : ${firstLevelFalltypus}">
							<li class="introcoupCell btnSquare cat-big">
								<a
									th:href="@{/public/falltypus/level1/lawsuit/{id}(id=${falltypus.id})}"
									th:id="${falltypus.id}" th:text="${falltypus.name}">
								</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>