<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css"></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header"></div>
	<div class="mainPart">
		<div class="container-fluid">
			<table bgcolor="lightblue" width="750" height="500" align="center"
				style="border-collapse: collapse;" border="1" bordercolor="#006699">
				<tr>
					<td align="center"><h3>详细信息</h3></td>
				</tr>
				<tr valign="top" align="center">
					<td align="center">
							<table width="500" style="border-collapse: collapse;" border="0" bordercolor="#006699" cellspacing="2" cellpadding="2">
								<tr bgcolor="lightblue">
									<th>问题编号</th>
									<th>问题描述</th>
									<th>是否根问题</th>
								</tr>
								<tr th:if="${question ne null}">
									<td width="150">
										<input th:attr="readonly='readonly'" type="text" th:value="${question.id}" id="currentQuestion"/>
									</td>
									<td>
										<input th:attr="readonly='readonly'" type="text" th:value="${question.description}" />	
									</td>
									<td>
										<input th:attr="readonly='readonly'" type="text" th:value="${question.isRootQuestion}" />	
									</td>
								</tr>
								<tr th:if="${question eq null}">
									<td width="150" th:text="没有数据" th:colspan="3"></td>
								</tr>
							</table>
							<table th:width="600" style="border-collapse: collapse;" border="0" bordercolor="#006699" cellspacing="2" cellpadding="2">
								<tr bgcolor="lightblue">
									<th>绑定案件类型</th>
									<th>绑定</th>
								</tr>
								<tr>
									<td>
										<select th:id="selectFalltypus" th:attr="disabled=${question.belongsToFalltypus ne null} ? 'disabled' : 'false'">
											<option th:value="-1">选择从属案件类型</option>
											<option th:each="belongsToFalltypus : ${availableFalltypus}" 
													th:id="${belongsToFalltypus.id}" 
													th:value="${belongsToFalltypus.id}" 
													th:text="${belongsToFalltypus.name}"
													th:selected="(${question.belongsToFalltypus} == ${belongsToFalltypus.id})"></option>
										</select>
									</td>
									<td>
										<button type="button" 
												th:id="${question.id}+_currentBind" 
												th:attr="disabled=${question.belongsToFalltypus ne null} ? 'disabled' : 'false'" 
												class="btn btn-primary addQFMapping">保存</button>
									</td>
								</tr>
							</table>
							<table th:width="600" style="border-collapse: collapse;" border="0" bordercolor="#006699" cellspacing="2" cellpadding="2">
								<tr bgcolor="lightblue">
									<th>答案编号</th>
									<th>答案名称</th>
									<th>匹配下级问题</th>
									<th>绑定</th>
								</tr>
								<tr th:if="${mappedQuestionAnswers ne null}" th:each="answer : ${mappedQuestionAnswers}">
									<td width="150">
										<input th:id="${answer.id}+_currentAnswer" th:attr="readonly='readonly'" type="text" th:value="${answer.id}"/>
									</td>
									<td width="150">
										<!-- th:attr="disabled=${#strings.isEmpty(answer.description)} ? 'disabled' : 'false'" -->
										<input th:attr="readonly='readonly'" type="text" th:value="${answer.description}"/>
									</td>
									<td>
										<select th:id="${answer.id}+_selectParent" th:attr="disabled=${#strings.isEmpty(answer.description) or answer.nextQuestionId ne null} ? 'disabled' : 'false'">
											<option th:value="-1">选择下级问题</option>
											<option th:each="nextQuestion : ${availableQuestions}" 
													th:id="${nextQuestion.id}" 
													th:value="${nextQuestion.id}" 
													th:text="${nextQuestion.description}"
													th:selected="(${answer.nextQuestionId} == ${nextQuestion.id})" ></option>
										</select>
									</td>
									<td>
										<button type="button" 
												th:id="${answer.id}+_currentBind" 
												th:attr="disabled=${#strings.isEmpty(answer.description) or (answer.nextQuestionId ne null)} ? 'disabled' : 'false'" 
												class="btn btn-primary addQAMapping">保存</button>
									</td>
								</tr>
								<tr th:if="${mappedQuestionAnswers eq null}">
									<td width="150" th:text="没有数据" th:colspan="3"></td>
								</tr>
							</table>
							<a type="button" th:href="@{/disputeInfo/getAllDisputeInfo}">返回</a>
					</td>
				</tr>
			</table>
			<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">提示信息</h4>
		            </div>
		            <div class="modal-body" id="modalContent"></div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		            </div>
		        </div>
		    </div>
		</div>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer"></div>
	<script type="text/javascript">
	$(document).ready(function() {
		
		$(".addQFMapping").on("click", function() {
			$.ajax({
				type : 'PUT',
				url : '/public/question/updateQFMapping',
				data : JSON.stringify({
					"id": $("#currentQuestion").val(),
					"belongsToFalltypus": $("#selectFalltypus").find("option:selected").attr("id")
				}),
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$(".addQFMapping").attr("disabled", "disabled")
					$("#selectFalltypus").attr("disabled", "disabled")
					$("#modalContent").empty().append("绑定成功")
					$("#notificationModal").modal("show")
				},
				error : function(error) {
					$("#modalContent").empty().append("绑定失败")
					$("#notificationModal").modal("show")
				}
			});
		})
		
		$(".addQAMapping").on("click", function() {
			var index = $(this).attr("id").split("_")[0];
			var currentAnswerId = index;
			var questionContainerId = index + "_selectParent";
			var buttonId = index + "_currentBind"
			var selectedQuestionId = $("#"+questionContainerId+"").find("option:selected").attr("id")
			
			$.ajax({
				type : 'PUT',
				url : '/admin/answer',
				data : JSON.stringify({
					"id": currentAnswerId,
					"nextQuestionId": selectedQuestionId
				}),
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					//$("#"+questionContainerId+" option[value='"+selectedQuestionId+"']").remove()
					$("#"+buttonId+"").attr("disabled", "disabled")
					$("#"+questionContainerId+"").attr("disabled", "disabled")
					$("#modalContent").empty().append("绑定成功")
					$("#notificationModal").modal("show")
				},
				error : function(error) {
					$("#modalContent").empty().append("绑定失败")
					$("#notificationModal").modal("show")
				}
			});
		})
	});
	</script>
</body>
</html>

