<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/public_header_style_2 :: public-header-2-css"></div>
</head>
<body>
	<div th:replace="fragments/public_header_style_2 :: public-header-2"></div>
	<div class="mainPart">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#">免费法律咨询</a></li>
				<li class="active">选择类型</li>
			</ol>
			<h1 class="blue">请选择下一级咨询类型</h1>
			<section class="col-md-12 col-sm-12 introcouPhone space20">
				<div class="row">
					<ul class="col-md-4 col-sm-12" th:each="subFalltypus : ${subFalltypusList}">
						<li class="introcoupCell btnSquare">
							<a th:href="@{/public/falltypus/consulting/{id}(id=${subFalltypus.id})}" th:id="${subFalltypus.id}" th:text="${subFalltypus.name}"></a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer"></div>
</body>
</html>