<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css"></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header"></div>
	<div class="mainPart">
		<div class="container">
			<h1>电话咨询</h1>
			<p>优选专家律师与您电话沟通，为您深度分析法律问题，提供权威解决方案，排疑解惑。</p>
			<section class="col-md-12 col-sm-12 introcouPhone">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<ul class="introcoupCell">
							<li>
								<img th:src="@{/img/icon_counseling1.png}" />
							</li>
							<li><span>立即响应</span></li>
							<li class="ft12">专属律师，一打就通，立即获取法律服务</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<ul class="introcoupCell">
							<li>
								<img th:src="@{/img/icon_counseling2.png}" />
							</li>
							<li><span>专业</span></li>
							<li class="ft12">优选律师，为您提供透彻的分析、有价值的纠纷解决方案</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<ul class="introcoupCell">
							<li>
								<img th:src="@{/img/icon_counseling3.png}" />
							</li>
							<li><span>高性价比</span></li>
							<li class="ft12">24小时内不限次数、不限时长咨询，比线下500元/小时的咨询更高效更划算。</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<ul class="introcoupCell">
							<li>
								<img th:src="@{/img/icon_counseling4.png}" />
							</li>
							<li><span>服务细节到位</span></li>
							<li class="ft12">全程通话录音、服务结束为您提供纠纷解决方案，帮您理顺思路，服务不满意，立即退费</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/litigant_footer :: litigant-footer"></div>
</body>
</html>