<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container">
			<div
				class="containerWapper d-flex justify-content-center align-items-center">
				<div class="answer-quiz">
					<div class="quiz-wrap introcouPhone" id="optionalQAForm">
						<div class="quiz" style="display: none" th:each="qa : ${optionalQuestions}">
							<p class="title" th:text="${qa.question.description}" th:id="${qa.question.id}"></p>
							<!-- 单选题 -->
							<ul class="ui-choose" id="uc_05" th:if="${qa.question.questionType eq '0'}">
								<li class="introcoupCell btnSquare" th:each="answer : ${qa.answers}" th:id="${answer.id}" data-type="single" th:text="${answer.description}">
								</li>
							</ul>
							<!-- 多选题 -->
							<ul class="ui-choose" id="uc_05" multiple="multiple" th:if="${qa.question.questionType eq '1'}">
								<li class="introcoupCell btnSquare" th:each="answer : ${qa.answers}" th:id="${answer.id}" data-type="multi" th:text="${answer.description}">
								</li>
							</ul>
							<!-- 文本输入框 -->
							<textarea class="form-control" rows="4" cols="50" th:if="${qa.question.questionType eq '2'}" id="freeComments"></textarea>
						</div>
					</div>
					<i class="fa fa-angle-left to-left disabled" aria-hidden="true"></i>
					<i class="fa fa-angle-right to-right" aria-hidden="true"></i>
					<div class="button-wrap mt-3">
						<button type="button" class="btn btn-law will-answer withoutSpecificAnswer">确认后补充</button>
						<button type="button" class="btn btn-law cannot-answer withoutSpecificAnswer">暂不能回答</button>
						<button type="button" class="btn btn-law submit pull-right" style="display: none" id="submitLawsuit">立即提交</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript">
	$(function () {
		$('.ui-choose').ui_choose();
	    $("#optionalQAForm div").first().css('display', 'block');

	    $(".answer-quiz").on("click", ".will-answer,.cannot-answer", function () {
	        var showQuiz = $(".quiz-wrap .quiz:visible");
	        showQuiz.find("li").removeClass("selected");
	        toNext();
	    });

	    $(".answer-quiz .to-right").on("click", function () {
	        var showQuiz = $(".quiz-wrap .quiz:visible");
	        if ($(this).hasClass("disabled") || showQuiz.find("li.selected").length == 0) {
	            return
	        }
	        toNext();
	    })
	    
	    $(".answer-quiz .to-left").on("click", function () {
	        var showQuiz = $(".quiz-wrap .quiz:visible");
	        if ($(this).hasClass("disabled")) {
	            return
	        }
	        if (showQuiz.prev(".quiz").length > 0) {
	            showQuiz.prev(".quiz").show();
	            $(".answer-quiz .submit").hide();
	            $(".answer-quiz .to-right").removeClass("disabled");
	            showQuiz.hide();
	        }

	        if (showQuiz.prev(".quiz").prev(".quiz").length == 0) {
	            $(".answer-quiz .to-left").addClass("disabled");
	        } else {
	            $(".answer-quiz .to-left").removeClass("disabled");
	        }
	    })
	    
	    function toNext() {
	        var showQuiz = $(".quiz-wrap .quiz:visible");
	        if (showQuiz.next(".quiz").length > 0) {
	            showQuiz.next(".quiz").show();
	            $(".answer-quiz .to-left").removeClass("disabled");
	            showQuiz.hide();
	        }
	        if (showQuiz.next(".quiz").next(".quiz").length == 0) {
	            $(".answer-quiz .to-right").addClass("disabled");
	            $(".answer-quiz .submit").show();
	        } else {
	            $(".answer-quiz .to-right").removeClass("disabled");
	        }
	    }
	    
	    $(".withoutSpecificAnswer").on("click", function() {
	    	var currentQuestionId = $(this).parent().prevAll("#optionalQAForm").children('div[style*="display: block"]').children('p').attr('id');
	    	var selectedAnswer = $(this)[0].innerText
	    	$.ajax({
                type: 'POST',
                url: '/public/question/optional/other/answer',
                data: JSON.stringify({
                    "other": selectedAnswer,
                    "questionId": currentQuestionId
                }),
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                },
                error: function (error) {
                }
            });
	    })
	    
	    $("#optionalQAForm").on("click", 'li', function () {
	        $.ajax({
                type: 'GET',
                url: '/public/question/optional/' + $(this).attr("data-type") + '/answer/' + $(this).attr("id"),
                success: function (res) {

                },
                error: function (error) {
                }
            });
	    })

	    $("#submitLawsuit").on("click", (e) => {
	        e.preventDefault()
	        $.ajax({
	            type: 'POST',
	            url: '/public/case',
	            data: JSON.stringify({
	                "caseType": "1",
	                "comments": $("#freeComments").val()
	            }),
	            contentType: "application/json; charset=utf-8",
	            success: function (res) {
	            	//relocate to login page or user dashboard
	                window.location.assign(res.data);
	            },
	            error: function (error) {
	            }
	        });
	    })
	})
	</script>
</body>
</html>