<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css"></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header"></div>
	<div class="mainPart">
		<div class="container">
			<h1>免费法律咨询</h1>
			<p>请先选择咨询类型，以便为您精准解答</p>
			<section class="col-md-12 col-sm-12 introcouPhone space20">
				<div class="row">
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">劳动纠纷</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">婚姻家庭、继承、同居</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">借贷纠纷、投资理财</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">交通事故、医疗纠纷</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">房屋买卖、房屋租赁、动拆迁</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">商品、货物买卖纠纷</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">知识产权、加盟纠纷</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">刑事案件</a>
						</li>
					</ul>
					<ul class="col-md-4 col-sm-6">
						<li class="introcoupCell btnSquare">
							<a href="counseling_free_step1.html">其他纠纷</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/litigant_footer :: litigant-footer"></div>
</body>
</html>