<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css" ></head>
<body>
	<div class="img-responsive img-lawsuit">
		<div th:replace="fragments/header :: header" ></div>
		<div class="container">
	      <div class="col-md-12 lawsuit-content" >
	        <h3 class="heading">自己选律师</h3>
	        <p >律师好不好，一看就知道</p>
	        <a th:href="@{/public/case/lawsuit/start}" class="create-an-account" >开始找律师打官司</a>
	      </div>
    	</div>
	</div>
	<div th:replace="fragments/footer :: footer" ></div>
</body>
</html>