<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/litigant_header :: litigant-header-css"></div>
</head>
<body>
	<div th:replace="fragments/litigant_header :: litigant-header"></div>
	<div class="mainPart">
		<div class="container-fluid">
			<table bgcolor="lightblue" width="750" height="500" align="center"
				style="border-collapse: collapse;" border="1" bordercolor="#006699">
				<tr>
					<td align="center"><h3>详细信息</h3></td>
				</tr>
				<tr valign="top" align="center">
					<td align="center">
							<table width="500" style="border-collapse: collapse;" border="0" bordercolor="#006699" cellspacing="2" cellpadding="2">
								<tr bgcolor="lightblue">
									<th>问题编号</th>
									<th>问题描述</th>
									<th>是否根问题</th>
								</tr>
								<tr>
									<td width="150">
										<input th:attr="readonly='readonly'" type="text" th:value="${question.id}" />
									</td>
									<td>
										<input th:attr="readonly='readonly'" type="text" th:value="${question.description}" />	
									</td>
									<td>
										<input th:attr="readonly='readonly'" type="text" th:value="${question.isRootQuestion}" />	
									</td>
								</tr>
							</table>
							<form th:action="@{/disputeInfo/updateAnswer}" th:method="POST">
							<table width="500" style="border-collapse: collapse;" border="0" bordercolor="#006699" cellspacing="2" cellpadding="2">
								<tr bgcolor="lightblue">
									<th>答案编号</th>
									<th>答案名称</th>
									<th>匹配下级问题</th>
								</tr>
								<tr th:each="answer : ${question.answers}">
									<td width="150">
										<input th:attr="readonly='readonly'" type="text" th:value="${answer.id}"/>
									</td>
									<td width="150">
										<!-- th:attr="disabled=${#strings.isEmpty(answer.description)} ? 'disabled' : 'false'" -->
										<input th:attr="readonly='readonly'" type="text" th:value="${answer.description}"/>
									</td>
									<td>
										<select id="selectParent" th:attr="disabled=${#strings.isEmpty(answer.description)} ? 'disabled' : 'false'">
											<option th:value="-1">选择下级问题</option>
											<option th:each="nextQuestion : ${availableQuestions}" th:id="${nextQuestion.id}" th:value="${nextQuestion.id}" th:text="${nextQuestion.description}"></option>
										</select>
									</td>
								</tr>
							</table>
							<button type="submit" th:text="保存"></button>
							<a type="button" th:href="@{/disputeInfo/getAllDisputeInfo}">返回</a>
							</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer"></div>
</body>
</html>

