<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/public_header_style_2 :: public-header-2-css"></div>
</head>
<body>
	<div th:replace="fragments/public_header_style_2 :: public-header-2"></div>
	<div class="mainPart">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="lawsuit_step1.html">选择类型</a></li>
				<li><a href="lawsuit_step1.html">房屋买卖、房屋租赁、动拆迁</a></li>
				<li class="active">填写信息</li>
			</ol>
			<h1>提交您的案情 - 填写基本信息</h1>
			<p>
				不知道如何填写？拨打客服热线 <span class="orange">400-850-8650</span> 获得帮助
			</p>
			<p>
				<span class="orange">9406</span> 名用户正在通过 小帅网竞标模式 找律师 <a href="#">[
					查看经典案例 ]</a>
			</p>
			<section class="col-md-12 col-sm-12 introcouPhone space20 sBtn">
				<h3 th:text="${question.question.description}"></h3>
				<div class="row">
					<ul class="col-md-2 col-sm-2" th:each="answer : ${question.answers}">
						<li class="introcoupCell btnSquare">
							<a th:href="@{/public/question/answer/{id}(id=${answer.id})}" th:id="${answer.id}" th:text="${answer.description}"></a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 btnNext">
						<a type="button" class="btn btn-primary btn-lg" th:href="@{/public/case/lawsuit/next}">下一步</a>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-md-12 col-sm-12 btnNext">
						<button type="button" class="btn btn-primary btn-lg">立即提交</button>
					</div>
				</div> -->
			</section>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer"></div>
</body>
</html>