<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container-fluid">
			<form>
			<div>
				<span>所属案件类型： </span>
				<select onchange="retrieveQuestions(this)">
					<option th:value="-1">选择从属案件类型</option>
					<option th:each="belongsToFalltypus : ${availableFalltypus}" 
							th:id="${belongsToFalltypus.id}" 
							th:value="${belongsToFalltypus.id}" 
							th:text="${belongsToFalltypus.name}"></option>
				</select>
			</div>
			<br />
			<div id="questionBlock" th:fragment="questionBlock-fragment">
				<table style="border-collapse: collapse;" border="1" bordercolor="#006699" width="800">
					<tr bgcolor="lightblue">
						<th>问题编号</th>
						<th>问题描述</th>
						<th>是否根问题</th>
						<th>类型</th>
						<th>操作</th>
					</tr>
					<tr th:if="${not #lists.isEmpty(questionList)}" th:each="question : ${questionList}">
						<td th:text="${question.id}"></td>
						<td th:text="${question.description}"></td>
						<td th:text="${question.isRootQuestion eq 'Y' ? '是' : '否'}"></td>
						<td th:text="${question.questionType eq null ? 'NA' : question.questionType eq '0' ? '单选题' : question.questionType eq '1' ? '多选题' : '用户输入'}"></td>
						<td>
							<a th:href="@{/disputeInfo/viewDisputeInfo/{id}(id=${question.id})}">查看</a>
							<a href="" th:class="deleteQuestionLink"  th:id="${question.id}">删除</a>
					 	</td>
					</tr>
					<tr th:if="${#lists.isEmpty(questionList)}">
						<td colspan="5" style="text-align: center">没有数据</td>
					</tr>
				</table>
			</div>
			</form>
		</div>
		<a th:href="@{/disputeInfo/createDisputeInfo}" type="button" class="btn btn-primary btn-lg btn-block">新建</a>
	</div>
	<div th:replace="fragments/footer :: footer" ></div>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/disputeInfo.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function retrieveQuestions(self) {
    	var fId = self.value
        // var url = '/disputeInfo/filterDisputeInfo/' + self.value;

        // $("#questionBlock").empty().load(url);
        
        $.ajax({
			type : 'GET',
			//url : [[ @{/disputeInfo/filterDisputeInfo/{id}(id=fId)} ]],
			url: '/disputeInfo/filterDisputeInfo/' + self.value,
			contentType : "application/json; charset=utf-8",
			success : function(data) {
				console.log(data)
				$('#questionBlock').html(data);
			},
			error : function(error) {
				
			}
		});
    }
    /*]]>*/
    </script>
</body>
</html>