<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/public_header_style_2 :: public-header-2-css"></div>
</head>
<body>
	<div th:replace="fragments/public_header_style_2 :: public-header-2"></div>
	<div class="mainPart">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="counseling_free.html">免费法律咨询</a></li>
				<li class="active">填写纠纷基本信息</li>
			</ol>
			<h1 class="blue">填写纠纷基本信息</h1>
			<section class="col-md-12 col-sm-12 introcouPhone space20 sBtn" id="disputeInfo">
				<div class="col-md-12 col-sm-12 btnNext">
					<button id="getCity" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#selectCity">选择城市</button>
				</div>
				<div class="col-md-12 col-sm-12 btnNext">
					<span id="selectedCity"></span>
				</div>
				<h3 th:text="${question.question.description}"></h3>
				<div class="row">
					<ul class="col-md-2 col-sm-2" th:each="answer : ${question.answers}" th:id="${answer.id}" th:attr="isRoot=${question.question.isRootQuestion}">
						<li class="introcoupCell btnSquare">
							<a href="" class="answerLink" th:id="${answer.id}" th:text="${answer.description}"></a>
						</li>
					</ul>
				</div>
				<div id="nextQuestionContainer">
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 btnNext">
						<a type="button" class="btn btn-primary btn-lg" th:href="@{/public/case/consulting/next}">下一步</a>
					</div>
				</div>
			</section>
			<div class="modal fade" id="selectCity" tabindex="-1" role="dialog" aria-labelledby="buyConsultingeModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body" id="location">
				        <form class="form-horizontal signupBox chooseAds" role="form" style="top:900px" id="cityContainer">
						  <div class="pop_close" style="left:730px"><a href="#"></a></div>
						  <div class="row signupTitle"><h3>请选择纷对象住所地／纠纷发生地</h3></div>
						  <div class="chooseAdsItem">
						   <h4>选择省份</h4>
						   <ul id="level1City"></ul>
						  </div>
						  <div class="chooseAdsItem">
						   <h4>选择城市</h4>
						   <ul id="level2City"> </ul>
						  </div>
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
				      </div>
				    </div>
				  </div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer"></div>
	<script type="text/javascript" th:inline="javascript" th:src="@{/js/disputeInfo.js}"></script>
</body>
</html>