<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header-css"></head>
<body>
	<div class="topBar col-md-12">
		<div th:replace="fragments/header :: header"></div>
	</div>
	<div class="mainPart">
		<div class="container">
			<div
				class="containerWapper d-flex justify-content-center align-items-center">
				<div class="answer-quiz">
					<div class="quiz-wrap introcouPhone" id="optionalQuestionContainer">
						<div class="quiz"  style="display: block"
							th:id="optionalQAForm"
							th:fragment="optionalQuestionBlock-fragment" th:if="${optionalQuestion ne null}" >
							<div class="form-group" th:if="${optionalQuestion.question.questionType eq '2'}">
			                  	<label for="endTime">截止日期:</label>
			                  	<input type="date" class="form-control" id="expiredDate" />
			              	</div>
							<p class="title" th:text="${optionalQuestion.question.description}" 
								th:id="${optionalQuestion.question.id}"></p>
							<!-- 单选题 -->
							<ul class="ui-choose" id="uc_05" th:if="${optionalQuestion.question.questionType eq '0'}">
								<li class="introcoupCell btnSquare" th:each="answer : ${optionalQuestion.answers}" th:id="${answer.id}" data-type="single" th:text="${answer.description}">
								</li>
							</ul>
							<!-- 多选题 -->
							<ul class="ui-choose" id="uc_05" multiple="multiple" th:if="${optionalQuestion.question.questionType eq '1'}">
								<li class="introcoupCell btnSquare" th:each="answer : ${optionalQuestion.answers}" th:id="${answer.id}" data-type="multi" th:text="${answer.description}">
								</li>
							</ul>
							<!-- 文本输入框 -->
							<textarea class="form-control" rows="4" cols="50" th:if="${optionalQuestion.question.questionType eq '2'}" id="freeComments"></textarea>
							
							<div class="button-wrap mt-3">
								<button type="button" class="btn btn-law will-answer withoutSpecificAnswer">确认后补充</button>
								<button type="button" class="btn btn-law cannot-answer withoutSpecificAnswer">暂不能回答</button>
								<button type="button" 
										class="btn btn-law float-right next-one" 
										id="getNextOptionalQuestion"
										disabled="disabled"
										th:if="${optionalQuestion.question.questionType ne '2'}">下一题</button>
								<button type="button" 
										class="btn btn-law submit pull-right" 
										id="submitLawsuit"
										th:if="${optionalQuestion.question.questionType eq '2'}">立即提交</button>
		            			<button type="button" 
		            					class="btn float-right mr-1 btn-outline-dark"
		            					id="resetOptionalQuestionSelection"
		            					>重置</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	$(function () {
		$('.ui-choose').ui_choose();
	    //$("#optionalQAForm div").first().css('display', 'block');
		var selectedAnswerId = []
		
		var currentSelectedFalltypus = /*[[${session.CURRENT_SELECTED_FALLTYPUS}]]*/ null;
		
	    $(".answer-quiz").on("click", ".will-answer,.cannot-answer", function () {
	        var showQuiz = $(".quiz-wrap .quiz:visible");
	        showQuiz.find("li").removeClass("selected");
	        toNext();
	    });

	    $("#optionalQAForm").on("click", "button[id='resetOptionalQuestionSelection']", function () {
	    	$.ajax({
				type : 'GET',
				url : "/public/question/reset/optional",
				success : function(data) {
					console.log(data)
					$('#optionalQAForm').html(data);
					selectedAnswerId = []
				},
				error : function(error) {
					console.log(error)
				}
			});
	    })
	    
	    $("#optionalQAForm").on("click", "button[id='getNextOptionalQuestion']", function () {
	        
	        //GET next question
	        var id = -1;
	        if (selectedAnswerId.length != 0) {
	        	id = selectedAnswerId[0]
	        }
	        
	        $.ajax({
				type : 'GET',
				url : "/public/question/next/optional?id=" + id,
				success : function(data) {
					console.log(data)
					$('#optionalQAForm').html(data);
					selectedAnswerId = []
				},
				error : function(error) {
					console.log(error)
				}
			});
	    })
	    
	    $(".withoutSpecificAnswer").on("click", function() {
	    	var currentQuestionId = $(this).parent().prevAll("#optionalQuestionContainer").children().children('p').attr('id');
	    	var selectedAnswer = $(this)[0].innerText
	    	$.ajax({
                type: 'POST',
                url: '/public/question/optional/other/answer',
                data: JSON.stringify({
                    "other": selectedAnswer,
                    "questionId": currentQuestionId
                }),
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                },
                error: function (error) {
                }
            });
	    })
	    
	    $("#optionalQAForm").on("click", 'li', function () {
	    	selectedAnswerId = []
	    	
	    	$("#getNextOptionalQuestion").attr("disabled", false)
	    	
	    	if ($(this).attr("data-type") == 'single') {
	    		$(this).parent().find("li").removeClass("selected")
	    		$(this).addClass("selected")
	    		
	    		selectedAnswerId.push($(this).attr("id"))
	    	} else {
	    		//multi select
	    		$(this).addClass("selected")
	    		selectedAnswerId.push($(this).attr("id"))
	    	}
	    	
	    		
	        $.ajax({
                type: 'GET',
                url: '/public/question/optional/' + $(this).attr("data-type") + '/answer/' + $(this).attr("id"),
                success: function (res) {

                },
                error: function (error) {
                }
            });
	    })

	    
	    $("#optionalQAForm").on("click", "button[id='submitLawsuit']", function () {
	    	$.ajax({
	            type: 'POST',
	            url: '/public/case',
	            data: JSON.stringify({
	                "caseType": "1",
	                "expiredDate": stringToDate($("#expiredDate").val()),
	                "comments": $("#freeComments").val()
	            }),
	            contentType: "application/json; charset=utf-8",
	            success: function (res) {
	            	//relocate to login page or user dashboard
	                window.location.assign(res.data);
	            },
	            error: function (error) {
	            }
	        });
	    })
	    
	    function stringToDate (fDate) {
		    var fullDate = fDate.split("-");  
		    return new Date(fullDate[0], fullDate[1]-1, fullDate[2], 0, 0, 0);  
		}
	})
	/*]]>*/
	</script>
</body>
</html>