<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/public_header_style_2 :: public-header-2-css"></div>
</head>
<body>
	<div th:replace="fragments/public_header_style_2 :: public-header-2"></div>
	<div class="mainPart">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="counseling_free.html">免费法律咨询</a></li>
				<li class="active">填写纠纷基本信息</li>
			</ol>
			<h1 class="blue">填写纠纷基本信息</h1>
			<section class="col-md-12 col-sm-12 introcouPhone space20 sBtn" id="disputeInfo">
				<h3 th:text="${question.question.description}"></h3>
				<div class="row">
					<ul class="col-md-2 col-sm-2" th:each="answer : ${question.answers}">
						<li class="introcoupCell btnSquare">
							<a href="" th:id="${answer.nextQuestionId}" th:text="${answer.description}"></a>
						</li>
					</ul>
				</div>
				
				<div class="row">
					<div class="col-md-12 col-sm-12 btnNext">
						<a type="button" class="btn btn-primary btn-lg" th:href="@{/public/case/consulting/next}">下一步</a>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/public_footer :: public-footer"></div>
	<script th:inline="javascript">
	
	    $(function() {
			$("#disputeInfo a").on("click", function(e) {
				e.preventDefault()
				$.ajax({
					type : 'GET',
					url : '/public/question/' + $(this).attr("id"),
					success : function(data) {
						/*<![CDATA[*/
						var message = [[${questionItem}]];
					    console.log(message); 
					    /*]]>*/
					},
					error : function(error) {
					}
				});
			})
		})
	</script>
</body>
</html>