.fl{float: left;}
.fr{float: right;}
.clearboth{clear: both;}
ul li{list-style:none;}
.ft12{font-size:12px}

.img-responsive{background: url(../img/mainBg.png) no-repeat top center; min-height: 500px;}


/* ------------------------------------------------------------------------------------
SEARCH		 */

.mainBannerTitle{text-align: center;}
.mainBannerTitle .cur{color: #CFB87E}
.mainBannerTitle a,.mainBannerTitle span{ color:#fff; margin: 0 25px;font-weight:200  }
.mainBannerTitle a:hover{text-decoration:none;color: #CFB87E}
.container-fluid{ margin: 6rem 0;}
.form-inline .form-group{width:500px}
.form-inline .form-control input.searchBox{width:300pxï¼›padding: .5rem 1rem;border:2px solid #CFB87E;}
.tab-content{max-width: 700px;}
.form-control{border-radius: 5rem;}
.container-fluid .row{margin: 3em 0;}

.searchBox .btn-default{
    color: #fff;
    background-color: #CFB87E;
    border-color: #CFB87E; cursor: pointer;border-radius: 5rem;
}
.empty{ margin: 14em 0 0; display: block;}


/* ------------------------------------------------------------------------------------
neiyene	*/	 
.mainPart{min-height: 600px;padding-top: 75px;}

/* -----.mainPart .container{ padding:3em 0;}--*/
.mainPart .container h1{ text-align:center;color:#CFB87E; font-weight:300; margin: 1em 0 0.5em;}
.mainPart .container p{text-align:center; font-size:14px;color:#9B9B9B;font-weight:200;margin-bottom:0px;}
.introcouPhone .introcoupCell,.writeInfo .row .ulCell{ background-color: #fff;padding:20px;margin:3em 0.2em; border-radius: 0.8rem;    
	box-shadow: 0px 1px 3px rgba(191,188,188,0.50);min-height: 220px;}
.introcoupCell{ text-align:center; color:#58627C}	
.introcoupCell span{margin:0.3em 0;display:block;}
.topBar ul li span{color: #ac8873;}
.btnSquare{}
.introcouPhone .btnSquare{ text-align: center;background: #FFFFFF;border: 1px solid #CFB87E;box-shadow: 0 1px 3px 0 rgba(191,188,188,0.50);
border-radius: 0.4rem;margin:0.2em;padding:0px; min-height:auto}
.introcouPhone .btnSquare a{display: block;font-size: 20px;color: #CFB87E; padding: 10px 0}
.introcouPhone .btnSquare:hover{border-radius: 0.4rem;}
.introcouPhone .btnSquare a:hover,.introcouPhone .cur{ text-decoration: none;background: rgba(207,184,126,0.80); color: #fff;}
.space20{ margin: 3em 0}
.breadcrumb{background: none;}
.breadcrumb li{ font-size: 12px; color: #ccc}
.breadcrumb li a{color:#CFB87E;background: url(../img/icon_next.png) no-repeat 94% 50%; padding-right: 20px;}
.mainPart .container h1.blue{color: #58627C;}
.sBtn h3{font-size: 16px;color: #58627C; font-weight: 400;}
.sBtn .btnSquare a{font-size: 16px;}
.space10{margin-top: 2em}
h4.gray{font-size: 12px;color: #9B9B9B;}
.introcouPhone  .cur a{ color: #fff}
.btnNext{text-align: center; }
.btnNext button{background: rgba(74,144,226,0.80);
border: 1px solid #4A90E2;
box-shadow: 0 1px 3px 0 rgba(191,188,188,0.50);
border-radius: 10px; cursor: pointer; width: 200px; height: 60px}
.introcouPhone .form-control,.myCell .form-control{border: 1px solid #CFB87E; color: #CFB87E;box-shadow: 0 1px 3px 0 rgba(191,188,188,0.50); margin: 0.5em 0 0;}

.writeInfo .row .writeInfoText{ margin:0px 0 2.5em; padding:20px 40px}
.writeInfoText{ font-size: 14px;color: #9B9B9B}
.orange{color: #F5A623}
.writeInfoText .orange{margin-bottom: 10px}
.writeInfoText span{ color: #58627C }
.writeInfo .row .writeInfoRight{ margin: 0em 0.2em; padding: 0px;position: relative;z-index:5}
.exp{padding:30px 0px;border-bottom: 1px solid #EDEDED;}
.exp li{ display: block;}
.exp .fl{ width: 15%;border: 1px solid #6EA6E8;border-radius: 18px; text-align: center;font-size: 14px;
    color: #6EA6E8; padding: 5px 10px}
.exp .fr{width: 80%}
.writeInfoText .clr-blue{cursor: help; color: #689CE5}
.expLast{border-bottom: none;}
.ulCell .form-control{border-radius:0em; border:none;}
.submit_counter{text-align: right;border-top: 1px solid #EDEDED; color: #ccc; padding: 10px 0}
.submit_counter span{color: #689CE5;font-size: 12px;}
.btnNext a{margin-left: 20px;font-size: 12px}
.writeInfoRightTitle{background-color: #689CE5;border-radius: 0.8rem 0.8rem 0 0; padding-left:0px;    margin-bottom: 0px;}
.writeInfoRightTitle li{font-size: 28px;color: #FFFFFF; text-align: center; margin-left: 0px; font-weight:200; padding:30px 0;}
.phoneIcon{background: url(../img/phone.png) no-repeat; z-index:59999; display:block; height:60px; width:60px; 
	position: absolute; top: 25%;left: 42%;}
.writeInfoRightItem{padding:2em ;}
.writeInfoRightItem li{background: url(../img/icon_ok.png) no-repeat center left; padding-left:30px;color:#58627C;margin:0.5em 0 }	
.sLabel{ padding: 15px 0}
/* ------------------------------------------------------------------------------------
lawsuit		 */
.img-lawsuit{background: url(../img/lawsuit.png) no-repeat top center;}
.lawsuit-content{text-align: center; padding: 2em 0 12em}
.lawsuit-content .heading{font-size: 40px;color: #CFB87E;padding: 1em 0 0.5em;font-weight: 200;}
.lawsuit-content p{font-size: 30px;color: #FFFFFF;padding: 0em 0 0.5em;font-weight: 200;}
.lawsuit-content a{color: #fff;
    background-color: #CFB87E;
    border-color: #CFB87E;
    border-radius: 5rem;font-size:16px;color: #FFFFFF; padding: 10px 20px;}
.lawsuit-content a:hover{ text-decoration: none;}

/* ------------------------------------------------------------------------------------
login      */
.bgBlack{background:rgba(0,0,0,0.50);;position: absolute;z-index:666; width: 100%;height:500%;overflow: hidden;}
.signupBox{z-index: 5999999;
    padding: 5px 0 0;
    margin: 3em 0 0;
    }
.signupBox .form-group input{border:none;border-bottom: 1px solid #ccc; border-radius: 0em}
.signupBox h3{ font-weight: 200; ; color: #CFB87E;}
.signupTitle{text-align: center;display: block; margin: 0.5em 0 1em;}
.signupBox .control-label{    border: 1px solid #CFB87E;
    border-radius: 18px;
    text-align: center;color: #CFB87E; font-size: 12px; padding:8px 10px;}
.signupBox .control-label:hover{ text-decoration: none;}
.signupBox button{background-color: #CFB87E;
    border-color: #CFB87E;
    border-radius: 5rem;
    font-size: 16px;
    color: #FFFFFF;  cursor: pointer;}
 .signupBox .btn_cancel{ margin-right: 40px; background: #ccc; border:1px solid #ccc;}   
.signupBox .fpw{ font-size: 12px;color: #999}
.signupBox .fpw a{text-align: right;    display: block;}
.chooseAds{width: 60%}
.chooseAds ul li{ float: left; display: block;margin-right:10px; padding: 5px 10px}
.chooseAds ul li a,.chooseAdsItem ul li label{ color: #999}
.chooseAds ul .cur{background-color: #CFB87E;
    border-radius: 5rem; }
    .chooseAds ul .cur a:hover{ text-decoration: none}
 .chooseAds ul .cur a{color: #fff}
.chooseAdsItem h4{ font-size: 14px}
.chooseAdsItem ul { padding-left: 0px  }
.chooseAdsItem h4{color: #58627C;}
.chooseAdsItem{ margin-bottom: 40px}


.video{text-align: center; margin: 2em 0}
.pop_close{background: url(../img/pop_close.png) no-repeat; display: block;;width: 46px; height: 44px; position: absolute;    left: 420px;
    top: -5px;}

/* ------------------------------------------------------------------------------------
laywer login      */
.img-lawywerSign{background: url(../img/laywer_bg.png) no-repeat top center;background-size:100% auto;}
.img-lawywerSign  .lawsuit-content a{ margin: 10px 30px;}

/* ------------------------------------------------------------------------------------

my          */
.introcouPhone .mycenterCell{ min-height: auto;}
.introcouPhone .mycenterCell li img{ margin-bottom: 20px}
.introcouPhone .mycenterCell li a{color: #58627C}
.introcouPhone .mycenterCell li a:hover,.mybox a:hover{ text-decoration: none}
.mybox a:hover{background-color: #689CE5}
.mybox a .writeInfoText{color: #58627C}
.writeInfo .row .writeInfoText .gray{ color: #ccc; padding-top: 20px}
.writeInfo .row .writeInfoText .gray span{ padding-right: 20px}
.writeInfo .row .myCell{min-height: auto}

/* ------------------------------------------------------------------------------------

laywer center          */
.writeInfo .row .laywer_right{min-height: auto;margin: 0em 0.2em;padding: 0px;}
.laywer_right li{ padding: 20px 0; border-bottom: 1px solid #f1f1f1;}
.laywer_right li.lastItem{ border-bottom: none}
.laywer_right .cur{ color:#CFB87E}
.laywer_right li:hover{  background-color: #F0F4FD}
.laywer_right .cur:hover{  background-color: #fff}
.laywer_right li a{color: #9B9B9B}
.laywer_right li a:hover{text-decoration: none;}
.myCell h4{ display: inline;color: #689CE5}
.myCell .form-control{border: 1px solid #CFB87E; }
.mybox .btnSearch button{ width: auto;height: auto; font-size: 14px}
.myCell .line{border-bottom: 1px solid #ededed; margin: 20px 0}
.writeInfoText .listTitle{border:1px solid #CFB87E; border-left: none; border-right:none;
    background: #FFFBF6; text-align: center;color: #C08E61;padding: 5px 20px; margin-bottom: 10px;
}
.writeInfoText .listTitle a{color: #C08E61}
.writeInfoText .listTitle a:hover{ background-color: #fff;}
.listTitle b,.writeInfoText .listTitle span{ padding: 0 10px;}
.writeInfoText .listTitle span,.tableBox b{color: #C08E61;}
.tableBox td,.tableBox th{ border: none; color: #666; font-size: 14px; padding: 0.4em}
.caseBox ul{ margin-bottom: 15px;}
.caseBox h4{font-size: 18px;}
.caseBox ul li,.writeInfo .row .caseBox .gray{ color: #000; padding: 5px 0;}
.writeInfo .row .caseBox .gray{ color: #999;}
.tableBox{}





.form-group .form-control{ border-radius: 4px;background: url(../img/arrow.png) no-repeat right #fff;appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;}








