/* ------------------------------------------------------------------------------------
footer		 */

footer{background-color: #14152D; text-align: center; color: #7C93AD; font-size: 12px;padding: 2em 0;}
footer .list-group li{ line-height:20px;}